.App-container{
    padding:.26667rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    font-size: medium;
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}
.input{
  height: 0.6rem;
  border-radius: 5px;
}

.title{
  font-size: larger;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 12px;
}
.whtie-block{
  height:20px;
}
.modify-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fieldset{
  width: 7.4rem;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.field{
  display: block;
  text-align: center;
}

.btn-group{
  width: 7.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn{
  width: 2.2rem;
  height: 0.8rem;
  border-radius: 10px;
  margin-top: 10px;
}